.about {
    &-image {
        width: 100%;
        height: 240px;
    }
    &-image-desktop-image {
        display: none;
    }
    &-image-div {
        position: relative;
    }
    &-image-div::before {
        content: "";
        width: 90.5%;
        height: 45px;
        position: absolute;
        background: white;
        z-index: 1;
        left: 0px;
        bottom: 0px;
    }
    &__overlay {
        opacity: 0.4;
        background-color: black;
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 98%;
    }
    &__textbox {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 91.4666%;
        margin-bottom: 140px;

        h2 {
            color: $black;
            margin-bottom: 30px;
        }
        p {
            color: $black;
        }
    }
}

.heritage {
    &__textbox {
        margin-top: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 91.4666%;
        margin-bottom: 72px;
        h2 {
            margin-bottom: 30px;
        }
        p {
            color: $black;
        }
    }
}

.leaders {
    margin-bottom: 150px;
    &__textbox {
        margin-bottom: 64px;
        margin-left: auto;
        margin-right: auto;
        width: 91.4666%;
    }
    &__card {
        display: block;
        margin: 0 auto;
        width: 311px;
        &-image {
            margin-bottom: 19px;
            width: 311px;
            height: 284px;
        }
        h3 {
            margin-bottom: 4px;
            font-size: 18px;
            line-height: 25px;
            color: #1b1d23;
        }
        h4 {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            color: #1b1d23;
            mix-blend-mode: normal;
            opacity: 0.75;
        }
    }
}

.linkedin {
    margin-right: 25.6px;
}
.icons {
    margin-top: 8px;
    margin-bottom: 40px;
}

.about-image-desktop-img {
    display: none;
}
