.hero {
    height: 560px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;

    &__textbox {
        position: absolute;
        top: 0px;
        padding: 110px 32px;
        h1 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 100px;
        }
    }
}

.hero__image-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero__image {
    width: 100%;
    height: 100%;
    &-desktop {
        display: none;
    }
}

.arrow {
    position: relative;
    top: 5px;
    left: 10px;
}

.hero__image-tablet {
    display: none;
}

.hero__overlay {
    opacity: 0.4;
    background-color: black;
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}
